body {
  font-family: 'Markazi Text', sans-serif;
  /* background-color: #f1f1f1; */
}
p {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
ul {
  margin: 0;
}
ul {
  padding: 0;
}

img {
  width: 250px;
}
a {
  text-decoration: none;
  color: #333;
  transition: all 0.2 ease-in-out;
}
li {
  list-style-type: none;
}
button {
  background-color: #f4ce14;
  border: 2px solid transparent;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-family: 'Markazi Text';
  cursor: pointer;
}

button:hover {
  color: #fff;
  background-color: #495e57;
  border: 2px solid black;
}
button:hover a {
  color: #fff;
}

.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 20%;
  margin: 0 auto;
  background-color: #f1f1f1;
  z-index: 100;
}
.menu-icon {
  display: none;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.nav-links a:hover {
  border-bottom: 1px solid #f4ce14;
}

.nav-link-login {
  border: 2px solid #495e57;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  transition: all 0.2s ease-in-out;
}

.nav-link-login:hover {
  background-color: #495e57;
  border: 2px solid black;
}
.nav-link-login:hover a {
  border-bottom: unset;
  color: #fff;
}

/* header */

.header {
  background-color: #495e57;
  height: 50vh;
}

.header h2 {
  color: #f4ce14;
}

.header > section {
  width: 60dvw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  box-sizing: border-box;
  padding: 2rem 0;
}

.hero {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: slidein 0.5s forwards;
}

.hero h2 {
  font-size: 4rem;
}
.hero h3 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.5rem;
  /* line-height: 1.5; */
  width: fit-content;
  padding-right: 2rem;
}

.hero-btn {
  align-self: flex-start;
  margin-top: auto;
  font-size: 2rem;
}

.hero-btn:hover {
  border: 2px solid #f4ce14;
}
.hero-btn a:hover {
  color: #f4ce14;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}
.hero-img {
  border-radius: 1rem;
  aspect-ratio: 1/1;
  width: 100%;
  object-fit: cover;
}

/* menu */
.menu-section {
  padding: 2rem;
}

.menu-container {
  background-color: #eeeeee;
  padding: 4rem;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60dvw;
  margin: 0 auto;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.menu-header h2 {
  letter-spacing: 1px;
  font-size: 3rem;
  color: #495e57;
}

.menu-header button {
  font-size: 1.4rem;
  padding: 0.7rem 1.4rem;
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 4rem 7rem;
  width: 60dvw;
  margin: 0 auto;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.menu-title h5,
.menu-title p {
  margin: 0;
  font-family: 'Markazi Text', sans-serif;
  font-size: 1.5rem;
}

.menu-items {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  max-width: 360px;
  margin: 0 auto;
}

.menu-items img {
  width: 100%;
  height: 45%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  height: 55%;
  box-sizing: border-box;
}

/* .menu-content p {
  line-height: 1.5;
} */

.menu-content button {
  font-size: 1rem;
  align-self: flex-start;
}

/* testimonials */

.testimonials {
  background-color: #495e57;
  min-height: 40dvh;
  color: #fff;
  padding: 2rem 0 4.5rem 0;
}

.testimonials > h2 {
  text-align: center;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4rem 7rem;
  width: 70dvw;
  margin: 0 auto;
  color: #333;
}

.testimonials-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #f1f1f1;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 1rem;
}

.testimonials-content img {
  width: 70px;
  border: 2px solid #fff;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
}
.testimonials-content h3 {
  font-size: 22px;
}

/* about */
.about-section {
  padding: 2rem;
}

.about-bg {
  background-color: #eeeeee;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 6rem;
  width: 60dvw;
  margin: 0 auto;
}

.about-left {
  padding-right: 3rem;
}

.about-left h2,
.about-left h3 {
  color: #495e57;
  font-size: 3.25rem;
}

.about-left h3 {
  font-size: 2rem;
}

.about-right {
  margin: 0 auto;
  position: relative;
}

.about-right img {
  border: 5px solid white;
  position: relative;
}

.about-right img:nth-child(2) {
  position: absolute;
  top: -15%;
  right: -55%;
}

.about-right img:nth-child(1):hover {
  z-index: 1;
}

/* footer */

.footer {
  background-color: #495e57;
}

.footer h3,
footer li {
  font-family: 'Karla', sans-serif;
  font-weight: 100;
  color: #fff;
}

.footer > section {
  width: 60dvw;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
}
.footer-info {
  width: 50%;
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.footer > h4 {
  text-align: center;
  padding: 2rem;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* main */

.main {
  height: 70vh;
}
