.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

ul {
  display: flex;
  width: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 200px;
}

.bar {
  width: 24px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

.navbar {
  padding: 10px 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-icon {
  display: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links .nav-active {
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
